{% extends 'base.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block header %}
<div id="page-header" class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="post-meta">
        </div>
          <h1>Add Category</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{ form_start(categoryForm) }}
            {{ form_row(categoryForm.title, {
                label: 'Category title',
            }) }}
            <button type="submit" class="btn btn-primary">Create!</button>
        {{ form_end(categoryForm) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}